{% extends 'layout.twig' %}

{% block title %}MyApp / Admin{% endblock %}
{% block content %}
    <h3>Админка</h3>
    <div>
        <table border="1" cellpadding="5" cellspacing="0">
            {% for id,order in orders %}
                <tr>
                    <td>#{{ id }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.login }}</td>
                    <td><b>${{ order.sum }}</b></td>
                    <td>
                        <select data-id="{{ id }}" class="js-status" {% if not isAdmin %}disabled{% endif %}>
                            {% for k,status in statuses %}
                                <option
                                    {% if k == order.status %}selected{% endif %}
                                    value="{{ k }}"
                                >{{ status }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        {% for good in order.goods %}
                            <li>
                                <a href="catalog/{{ good.category_id }}/{{ good.id }}" target="_blank">{{ good.title }}</a>
                                {{ good.count }} * ${{ good.price }} = <b>${{ good.sum }}</b>
                            </li>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="/js/admin.js"></script>
{% endblock %}