{% extends 'layout.twig' %}

{% block title %}{{ category.title }} - {{ good.title }}{% endblock %}

{% block content %}
    <b><a href="/catalog">Каталог</a> / <a href="/catalog/{{ category.id }}">{{ category.title }}</a> / {{ good.title }}</b><br/>

    <div>${{ good.price }}</div>
    <div>
        {% for img in images %}
            <a target="_blank" href="{{ img }}"><img style="max-width: 200px" src="{{ img }}"></a>
        {% endfor %}
    </div>
    <div>{{ good.info }}</div>
    <br/>
    <a href="?add={{ good.id }}"><button>Add</button></a>
{% endblock %}