{% extends 'layout.twig' %}

{% block title %}MyApp / Catalog / {{ title }}{% endblock %}
{% block content %}
    <h2><a href="/catalog">Каталог</a> / {{ title }} </h2>

    {% for good in goods %}
        <li><a href="/catalog/{{ id }}/{{ good.id }}">{{ good.title }}</a> - {{ good.price }}</li>
    {% endfor %}
{% endblock %}